@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: inline;
    max-width: 1180px;
    margin: auto;
}

/* header starts */


header nav {
    display: flex;
    justify-content: space-between;
    padding-top: 33px;
    align-items: center;
    padding-left: 210px;
}

header .menu ul li {
    display: inline;
    margin-right: 30px;
}

header .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 0.2;
}

header .menu hr {
    width: 0px;
    height: 16.87px;
    border: 1.20466px solid #E0E0E0;
}

header .menu ul li a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #757575;

}

.signout {
    display: flex;
    align-items: center;
}

.signout .AandAlex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 30px;

}

.signout a {
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 14px;
    gap: 14px;
    width: 41px;
    height: 40px;
    background: #C3DCE3;
    border-radius: 100px;
    width: 13px;
    height: 22px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;
    color: #2B788B;
    text-decoration: none;


}

.signout p {

    width: 34px;
    height: 22px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #757575;
}

.signout button {

    width: 82px;
    height: 16px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #000000;
    background: transparent;
    border: none;
}

section .boy h2 {
    display: flex;
    text-align: left;
    flex-direction: row;
    height: 16px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #2B788B;

}

section .boy3d {
    background-color: #F6F5F4;
}

section .boy {
    padding-left: 369px;

}

section .boy h1 {
    width: 531px;
    height: 201px;
    font-family: 'Dela Gothic One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #000000;
    margin-top: 24px;

}

section .boy h3 {
    margin-top: 30px;
    width: 396.89px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #757575;
    padding-bottom: 20px;
}

section .flex {
    padding-top: 109px;
    display: flex;
    align-items: left;
    justify-content: space-evenly;
    align-items: center;

}

section .flex img {

    width: 933px;
    height: 601px;

}

.flex a {

    width: 121px;
    height: 16px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: -0.04em;
    color: #2B788B;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 22px;
    gap: 19px;
    width: 165px;
    height: 44px;
    background: #C3DCE3;
    border-radius: 100px;
    text-decoration: none;
    margin-top: 32px;
}


.near {

    display: flex;
    align-items: left;

}

.near .near1 {

    display: flex;
    width: 40px;
    height: 40px;
}

.general {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.general1 {

    display: flex;
    flex-direction: row;
    align-items: center;

}

.general h2 {

    height: 22px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #585858;
    padding-left: 50px;



}

.hr {
    width: 0px;
    height: 48.78px;
    border: 1.21942px solid #E0E0E0;
    text-align: center;

}

.h2second {
    padding-left: 180px;
}

.general2 {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 250px;

}

.near .near2 {
    display: flex;
    width: 40px;
    height: 40px;
}


/* section second begins */

.flex2 {
    display: flex;
    padding-top: 77px;
    justify-content: space-evenly;
    flex-direction: row;

}

section .boy2{
    display: flex;
    flex-direction: column;
}

.flex2 h1 {
    padding-top: 50px;
    width: 474.46px;
    height: 96px;
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #000000;

}


.flex2 h3 {
    padding-top: 80px;
    width: 396.89px;
    height: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #757575;

}

.column{
    padding-top: 80px;
    display: flex;
}


/* section 3 stars */

.flex3
{
    background-color: #F6F5F4;
    
}
section .boy3 h2 {
    display: flex;
    text-align: left;
    flex-direction: row;
    height: 16px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #2B788B;

}

section .boy3 {
    padding-left: 369px;

}

section .boy3 h1 {
    width: 531px;
    height: 201px;
    font-family: 'Dela Gothic One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #000000;
    margin-top: 24px;

}

section .boy3 h3 {
    margin-top: 30px;
    width: 396.89px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #757575;
    padding-bottom: 20px;
}

section .flex3 {
    padding-top: 109px;
    display: flex;
    align-items: left;
    justify-content: space-evenly;
    align-items: center;

}

section .flex3 img {
    
    background: transparent;

}

.flex3 a {

    width: 121px;
    height: 16px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: -0.04em;
    color: #2B788B;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 22px;
    gap: 19px;
    width: 165px;
    height: 44px;
    background: #C3DCE3;
    border-radius: 100px;
    text-decoration: none;
    margin-top: 32px;
}
